@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/700.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .layer-button {
    @apply rounded-lg border-2 border-gray-300 py-2 px-3 text-base font-bold cursor-pointer border-blue-400 text-gray-800 hover:bg-blue-400 hover:text-white;
  }
  .confirm-btn {
    @apply rounded-lg w-full py-3 font-bold cursor-pointer text-white border border-pink-300 bg-pink-700 bg-opacity-10 hover:bg-pink-700 hover:bg-opacity-30 hover:text-white;
  }
  .sm-confirm-btn {
    @apply rounded-lg w-full py-2 font-semibold cursor-pointer text-white border border-pink-300 bg-pink-700 bg-opacity-10 hover:bg-pink-700 hover:bg-opacity-30 hover:text-white;
  }
  .confirm-btn-disabled {
    @apply rounded-lg w-full py-3 font-bold text-white text-opacity-30 border border-pink-300 bg-pink-700 bg-opacity-10;
  }
	.btn-primary{
		@apply bg-[#238636] border border-[#238636] rounded-sm py-1.5 hover:bg-[#2ea043] text-white
	}
  .input-field {
		@apply py-[4px] px-3 text-[0.75rem] tracking-wider placeholder:text-muted outline-none rounded-sm border border-border-gray bg-menu-bg focus-within:border-blue-400
	}
  	
	.input-field-big {
		@apply py-1 pl-8 pr-3 text-sm tracking-wider leading-tight h-min placeholder:text-muted rounded-sm outline-none border border-border-muted bg-subtle focus-within:border-blue-400
	}
  .text-link {
    @apply text-purple-500;
  }
  .navbar-icon {
    @apply shadow-lg flex items-center justify-center h-11 w-11 mb-2 mx-auto rounded-xl border border-menu;
  }
}

@layer base {
  html,
  body {
    @apply font-sans;
  }
}
